<form id="from_product">
    <label for="name">The name product:</label><br />
    <input type="text" id="name" name="name" required />
    <br /><br />

    <label for="purchase_cost">The cost of product</label><br />
    <input type="text" id="purchase_cost" name="purchase_cost" required /><br />
    <br /><br />

    <label for="shipping_cost">The shipping cost of product</label><br />
    <input type="text" id="shipping_cost" name="shipping_cost" />
    <br /><br />

    <label for="sale">The sale for product</label><br />
    <input type="text" id="sale" name="sale" required /><br />
    <br /><br />

    <button type="submit">Enviar Datos</button>
    <button type="reset">Limpiar</button>
</form>
