<form action="/procesar_datos" method="POST">
    <label for="nombre">Nombre Completo:</label><br />
    <input type="text" id="nombre" name="nombre_completo" required />
    <br /><br />

    <label for="email">Correo Electrónico:</label><br />
    <input type="text" id="email" name="correo_electronico" required /><br />
    <br /><br />

    <label for="telefono">Número de Teléfono:</label><br />
    <input type="text" id="telefono" name="numero_telefono" />
    <br /><br />

    <label for="pais">País de Residencia:</label><br />
    <input type="text" id="pais" name="pais_residencia" required /><br />
    <br /><br />

    <label for="intereses">Escribe tus intereses, separados por comas:</label>
    <br />
    <input type="text" id="intereses" name="intereses" /><br />
    <br /><br />

    <button type="submit">Enviar Datos</button>
    <button type="reset">Limpiar</button>
</form>
