<!doctype html>
<html lang="in">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventary</title>
        <link rel="stylesheet" href="static/css/styler.css" />
        <link
            rel="icon"
            type="image/jpg"
            href="https://www.shutterstock.com/image-vector/money-symbol-dollar-icon-black-600nw-1367102867.jpg"
        />
    </head>

    <body>
        <main>
            {% if request.url == "http://127.0.0.1:8080/add_product" %} {%
            include'fromt.html' %}
            <script src="static/js/from.js"></script>

            {% else %} {% include'listItems.html' %}
            <script src="static/js/request_products.js"></script>
            <script src="static/js/download.js"></script>
            {%endif %}
        </main>
    </body>
</html>
