<!doctype html>
<html lang="in">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventary</title>
        <link rel="stylesheet" href="static/css/styler.css" />
    </head>

    <body>
        {% if request.url == "http://127.0.0.1:8080/add_product" %} {% include
        'fromt.html' %} {% else %}
        <h1>hello word</h1>
        {% endif %}
        <script src="static/js/index.js"></script>
    </body>
</html>
