<section class="container" id="container">
    <section class="header" id="header">
        <h2>Products</h2>
    </section>
    <table class="table_products" id="table_products">
        <thead>
            <tr>
                <th>name</th>
                <th>purchase cost</th>
                <th>shipping cost</th>
                <th>sale</th>
                <th>profits</th>
            </tr>
        </thead>

        <tbody class="bodyTable" id="bodyTable"></tbody>
    </table>

    <section class="pages" id="pages"></section>

    <section class="buttons">
        <button class="add_product" id="add_product">
            <a href="http://127.0.0.1:8080/add_product">Add</a>
        </button>
        <button class="Downloads_exel" id="Downloads_exel">Downloads</button>
    </section>
</section>
